///////////////////////////////////////////////////////////
//
//     Promise Center - Real People, Real Promises, Real CSS
//
//     Table of Contents
//
///////////////////////////////////////////////////////////
//
//   0.0 - Constants
//   1.0 - Reset
//   2.0 - Globals
//   3.0 - Fonts & Colors
//   4.0 - Utilities
//   5.0 - Navigation
//   6.0 - Branding
//   7.0 - Hero
//   8.0 - Homepage
//   9.0 - Interior
//  10.0 - Footer
//  11.0 - Misc
//
///////////////////////////////////////////////////////////

///////////////////////////////////////////////////////////
//   0.0 - Constants
///////////////////////////////////////////////////////////

// Colors
$light_orange = #f59f00
$dark_orange = #e05d39
$pale_green = #819152
$light_blue = #00c4fe

// Fonts
$raleway = 'Raleway', sans-serif
$josefin = 'Josefin Slab', serif
$sedgwick = 'Sedgwick Ave', cursive
$gloria = 'Gloria Hallelujah', cursive

// Breakpoints
$desktop = 1200
$tablet = 1000
$phablet = 900
$mobile = 600
$mobile_small = 496


///////////////////////////////////////////////////////////
//   1.0 - Reset (in theme root, style.css, to load before Bootstrap)
///////////////////////////////////////////////////////////

///////////////////////////////////////////////////////////
//   2.0 - Globals
///////////////////////////////////////////////////////////

*
  box-sizing border-box

body
  font-family $raleway

a
  &:hover
    text-decoration none

img
  max-width 100%
  height auto

.btn
  border-radius 0
  box-shadow 0 4px 11px -2px rgba(0,0,0,0.4)
  transition 0.3s all
  &:hover
    transition 0.3s all

.btn-info
  background-color $light_blue
  border-color darken($light_blue, 20%)

  &:hover
    background-color darken($light_blue, 20%)
    border-color darken($light_blue, 40%)

.btn-success
  background-color $pale_green
  border-color darken($pale_green, 20%)

  &:hover
    background-color darken($pale_green, 20%)
    border-color darken($pale_green, 40%)

.btn-danger
  background-color $dark_orange
  border-color darken($dark_orange, 10%)

  &:hover
    background-color darken($dark_orange, 10%)
    border-color darken($dark_orange, 20%)

.btn-warning
  background-color $light_orange
  border-color darken($light_orange, 10%)

  &:hover
    background-color darken($light_orange, 10%)
    border-color darken($light_orange, 20%)



///////////////////////////////////////////////////////////
//   3.0 - Fonts & Colors
///////////////////////////////////////////////////////////




///////////////////////////////////////////////////////////
//   4.0 - Utilities
///////////////////////////////////////////////////////////




///////////////////////////////////////////////////////////
//   5.0 - Navigation
///////////////////////////////////////////////////////////

.menu-container

  .menu-button
    padding-top 37px
    transition 0.3s all

    i
      font-size 5rem
      color #333

.side-menu

  li

    a
      font-family $raleway
      font-size 2.2rem
      padding 10px 20px !important

.side-logo
  box-shadow 0 0 431px 4px rgba(122,72,50,0.4)

  img
    height auto
    width 100px
    padding 20px

.side-social-icons
  a
    i
      color white
      font-size 4.5rem
      padding 8px

.side-footer
  color darken(white, 25%)


///////////////////////////////////////////////////////////
//   6.0 - Branding
///////////////////////////////////////////////////////////

.primary-header
  height 121px
  position fixed
  background-color #fff
  z-index 999
  width 100%
  top 0
  transition 0.3s all
  border-bottom 6px solid #ddd

// Shrink Header - after scrolling down 200 pixels
.shrink-header
  height 85px
  transition 0.3s all

  .branding
    padding-top 0
    transition 0.3s all

    .site-title
      margin-top 17px
      font-size 4.4rem
      transition 0.3s all

    .site-logo
      width 80px
      padding-top 7px
      transition 0.3s all

  .menu-container .menu-button
    padding-top 16px
    transition 0.3s all

// End Shrink Header


.logged-in .primary-header
  top 32px

.branding
  padding-top 12px
  padding-bottom 18px
  transition 0.3s all

  @media (max-width ($mobile)px)
    padding-top 27px

  @media (max-width ($mobile_small)px)
    padding-top 12px
    padding-left 80px

.site-title
  font-weight bold
  font-size 5.6rem
  text-transform uppercase

  @media (max-width ($desktop)px)
    font-size 5.4rem

  @media (max-width ($tablet)px)
    font-size 5rem

  @media (max-width ($phablet)px)
    font-size 4rem

  @media (max-width ($mobile)px)
    font-size 3.2rem

  @media (max-width ($mobile_small)px)
    width 100px

.site-logo
  padding-top 5px
  padding-right 20px
  height auto
  width 100px

  @media (max-width ($mobile)px)
    width 50px
    padding-right 5px

.site-title
.site-logo
  vertical-align middle
  display inline-block
  transition 0.3s all

.header-row
  position relative

.header-social-icons
  opacity 0
  position absolute
  right 0
  padding 14px 0
  transition 0.3s opacity

  .social-icon
    display inline-block
    vertical-align top

    i
      font-size 4.4rem
      color #333
      padding 5px 8px

///////////////////////////////////////////////////////////
//   7.0 - Hero
///////////////////////////////////////////////////////////

.hero
  margin-top 40px
  position relative
  min-height 55vh
  background-image url("../images/worship.jpg")
  background-position center
  background-size cover

  .hero__image
    width 100%
    height auto

.hero__message
.hero__footer
  position absolute
  bottom 0
  width 100%

.hero__message
  bottom 120px
  text-align right

.social-icons:not(.header-social-icons):not(.side-social-icons) i
  color white
  font-size 5rem
  padding 0 22px

.social-icons
  text-align center
  padding-bottom 30px

  .social-icon
    display inline-block
    vertical-align top

    i
      transition 0.3s color

      &:hover
        transition 0.3s color

    .fa-facebook-square
      &:hover
        color #3b5998

    .fa-instagram
      &:hover
        color #bc2a8d

    .fa-vimeo-square
      &:hover
        color #4ebbff

    // .fa-phone

    .fa-map-marker
      &:hover
        color #ea4b36

  .social-icon-phone
    @media (min-width 800px)
      display none


///////////////////////////////////////////////////////////
//   8.0 - Homepage
///////////////////////////////////////////////////////////

// Services
.services
  background-color #000002
  padding 20px
  color white
  padding-bottom 60px

.service-times-title
  font-family $sedgwick
  font-size 5rem

.service-time
  text-align center
  padding 20px 60px
  border 2px solid white
  margin 30px 100px
  font-size 2.3rem
  transition 0.4s background-color
  &:hover
    background-color rgba(255,255,255,0.08)
    transition 0.4s background-color


// Sermons
.sermons
  border-top 6px solid #151515
  color #ddd
  background-image url("../images/background-patterns/footer_lodyas.png")
  background-attachment fixed
  padding-top 30px
  padding-bottom 60px

  .responsive-iframe-container
    position relative
    width 100%
    padding-bottom 56.2%
    margin-bottom 25px

  iframe
    position absolute
    box-shadow 0 0 25px rgba(0,0,0,0.5)
    border 6px solid #050505
    width 100%
    height 100%
    top 0
    left 0


.sermon-caption
  margin-bottom 45px

.sermons-title
  font-size 5rem
  font-weight bold
  margin-bottom 30px

.more-sermons
  .btn
    font-size 2.4rem
    padding 15px 40px

// Events
.events
  box-shadow 0 -30px 35px -15px rgba(0,0,0,0.7)
  background-color #ddd
  padding-top 30px
  padding-bottom 60px

  .events-title
    font-size 5.3rem
    font-family $gloria
    padding-bottom 38px

    small
      font-family $raleway

.event
  padding-top 20px
  border 0
  border-radius 2px
  color #fff
  position relative
  background-color rgba(0,0,0,0.7)
  box-shadow 0 0 3px rgba(0,0,0,0.5)

  .btn
    margin-top 25px

  .event-title
    font-weight bold
    margin-bottom 20px

  .event-image
    border 1px solid #222
    margin-top 20px
    margin-left 20px
    margin-bottom 15px
    height auto
    width 300px
    float right

.event-date
  padding-top 10px
  position relative

  i
    font-size 10rem
    color $dark_orange

.event-date-smaller
  padding-top 0

  i
    font-size 6.4rem

  .event-date-inner
    top 12px

    .event-date-number
      font-size 3.8rem

    .event-date-month
      font-size 1.8rem

.event-date-inner
  position absolute
  top 30px
  text-align center
  width calc(100% - 30px)

  .event-date-number
    font-size 5.5rem

  .event-date-month
    text-align center
    padding-top 4px
    font-size 2rem
    font-weight bold

.more-events
  padding-top 30px

  .btn
    font-size 2.4rem
    padding 15px 40px


// Groups

.groups
  background-image url('../images/background-patterns/tree_bark.png')
  background-attachment fixed

  .gradient
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 33%, rgba(255,255,255,0) 79%, rgba(255,255,255,0.01) 80%, rgba(77,77,77,0.17) 94%, rgba(0,0,0,0.25) 100%);
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 33%,rgba(255,255,255,0) 79%,rgba(255,255,255,0.01) 80%,rgba(77,77,77,0.17) 94%,rgba(0,0,0,0.25) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 33%,rgba(255,255,255,0) 79%,rgba(255,255,255,0.01) 80%,rgba(77,77,77,0.17) 94%,rgba(0,0,0,0.25) 100%);
    padding-top 30px
    padding-bottom 160px

  .lead
    margin-bottom 50px

  .groups-title
    // font-family $sedgwick
    font-weight bold
    font-size 5rem
    padding-bottom 15px

  .groups-grid

    .groups-action
      position relative

      img
        filter grayscale(100%)
        transition 0.3s filter

      &:hover
        img
          filter grayscale(0%)
          transition 0.3s filter

      a
        font-size 2rem
        text-transform uppercase
        font-weight bold
        letter-spacing 1.7px
        text-shadow 0 0 8px rgba(0,0,0,0.8), 0 0 1px rgba(0,0,0,0.6)
        box-shadow 0 10px 10px -5px rgba(0,0,0,0.5)


// Give

.give
  padding-top 60px
  padding-bottom 90px
  position relative
  background-image url("../images/giving.jpg")
  background-size cover
  background-position center
  color white
  box-shadow inset 0 -10px 35px 10px rgba(0,0,0,0.5)

  .give-lead
    letter-spacing 1px

  .lead
    text-align center
    margin-bottom 25px

  .give-body
    margin-bottom 50px

  .container
    position relative
    z-index 9

  .overlay
    background-color rgba(0,0,0,0.5)
    height 100%
    width 100%
    position absolute
    top 0
    left 0

  .give-title
    font-family $sedgwick
    font-size 5rem

  .btn
    font-size 3rem


// Get The App
.app
  padding-top 40px
  padding-bottom 10px

  .app-title
    font-weight bold
    font-size 5rem

  .app-image
    margin 60px auto
    display block
    height auto
    width 370px

  .app-stores
    padding-top 70px

    img
      height auto
      width 200px
      margin-top 20px


// About
.about
  box-shadow inset 0 45px 75px -15px rgba(0,0,0,0.33)
  padding-top 30px
  padding-bottom 60px
  background-image url("../images/vineyards.jpg")
  background-size cover
  background-position center
  background-attachment fixed
  height 800px
  color #fff

  .about-title
    font-size 5rem
    font-weight bold
    text-shadow 2px 2px 4px rgba(0,0,0,0.9)



///////////////////////////////////////////////////////////
//   9.0 - Interior
///////////////////////////////////////////////////////////

// Header
$header_height = 480

.header
  height ($header_height)px
  background-image url('../images/baby-smiling.jpg')
  background-size cover
  background-position center

  .entry-title
    color white
    font-family $sedgwick
    font-size 5rem
    text-align center
    text-shadow 2px 2px 4px rgba(0,0,0,0.7)

  .overlay
    padding-top ($header_height - 100)px
    background: -moz-linear-gradient(top, rgba(0,0,0,0.04) 0%, rgba(0,0,0,0.5) 100%);
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.04) 0%,rgba(0,0,0,0.5) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0.04) 0%,rgba(0,0,0,0.5) 100%);
    padding-bottom 15px

// Banner
.banner

  .video-placeholder
    background-image url("../images/hands-raised.jpg")
    background-size cover
    padding-bottom 56.3%

// Content
.content
  min-height 100vh
  padding-top 121px


///////////////////////////////////////////////////////////
//  10.0 - Footer
///////////////////////////////////////////////////////////

.footer
  background-color #232323
  background-image url("../images/background-patterns/dark_wall.png")
  color white

  .overlay
    padding-top 40px
    padding-bottom 60px
    min-height 500px
    background: -moz-linear-gradient(top, rgba(255,255,255,0.04) 0%, rgba(242,242,242,0) 5%, rgba(0,0,0,0.7) 100%);
    background: -webkit-linear-gradient(top, rgba(255,255,255,0.04) 0%,rgba(242,242,242,0) 5%,rgba(0,0,0,0.7) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,0.04) 0%,rgba(242,242,242,0) 5%,rgba(0,0,0,0.7) 100%);

  h3
    font-weight bold

  .address
    font-family $raleway

  .footer-site-logo
    display block
    margin auto
    height auto
    width 60px
    margin-bottom 40px


///////////////////////////////////////////////////////////
//  11.0 - Misc
///////////////////////////////////////////////////////////
